@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
#thermostat {
  width: 100vmin;
  height: 100vmin;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dial {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dial.away .dial__ico__leaf {
  visibility: hidden;
}
.dial.away .dial__lbl--target {
  visibility: hidden;
}
.dial.away .dial__lbl--target--half {
  visibility: hidden;
}
.dial.away .dial__lbl--away {
  opacity: 1;
}
.dial .dial__shape {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.dial__ico__leaf {
  fill: #13EB13;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
}
.dial.has-leaf .dial__ico__leaf {
  display: block;
  opacity: 1;
  pointer-events: initial;
}
.dial__editableIndicator {
  fill: white;
  fill-rule: evenodd;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.dial--edit .dial__editableIndicator {
  opacity: 1;
}
.dial--state--off .dial__shape {
  fill: #222;
}
.dial--state--heating .dial__shape {
  fill: #E36304;
}
.dial--state--cooling .dial__shape {
  fill: #007AF1;
}
.dial__ticks path {
  fill: rgba(255, 255, 255, 0.3);
}
.dial__ticks path.active {
  fill: rgba(255, 255, 255, 0.8);
}
.dial text {
  fill: white;
  text-anchor: middle;
  font-family: Helvetica, sans-serif;
  alignment-baseline: central;
}
.dial__lbl--target {
  font-size: 120px;
  font-weight: bold;
}
.dial__lbl--target--half {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.dial__lbl--target--half.shown {
  opacity: 1;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.dial__lbl--ambient {
  font-size: 22px;
  font-weight: bold;
}
.dial__lbl--away {
  font-size: 72px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
}
